* {
  background-color: var(--corporative-background-color);
  color: var(--title-and-buttontext-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

:root {
  --corporative-background-color: rgb(255, 255, 255);
  --title-and-buttontext-color: rgb(3, 3, 3);
  --border_radius_red: rgba(17, 16, 16, 0.164);
}

header > img {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}

.buy_logo {
  display: flex;
  position: absolute;
  width: 5vh;
  left: 92%;
  transform: translate(-7%);
  top: 5px;
  cursor: pointer;
}

.search_in_site {
  display: grid;
  grid-template-columns: 10% 90%;
}

input {
  display: flex;
  height: 5vh;
  text-align: center;
}

div > .search_logo {
  display: flex;
  width: 60%;
  height: 90%;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}

.filtros_busqueda {
  display: flex;
  border: 3px solid var(--border_radius_red);
  margin-top: 1vh;
}

.filtros_busqueda > select {
  width: 50%;
}

.filtros_busqueda > input {
  width: 15%;
  margin-left: 2%;
}

.search_button {
  display: block;
  position: absolute;
  width: 10%;
  height: 4%;
  justify-content: center;
  align-items: center;
  margin: 0.6% 0 0 66%;
}

.reset_button {
  display: block;
  position: absolute;
  width: 15%;
  height: 4%;
  justify-content: center;
  align-items: center;
  margin: 0.6% 0 0 80%;
}

.tshirt_search_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr max-content;
  grid-gap: 3px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.tshirt_search_list > .tshirt_photos {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.4s ease;
  border: 1.5px solid black;
}

.tshirt_search_list > .tshirt_photos_price {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.4s ease;
  border: 1.5px solid black;
}

div > img {
  width: 100%;
  height: 100%;
}

.tshirt_photos:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (min-width: 716px) and (max-width: 1080px) {
  * {
    background-color: var(--corporative-background-color);
    color: var(--title-and-buttontext-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
  }

  :root {
    --corporative-background-color: rgb(255, 255, 255);
    --title-and-buttontext-color: rgb(3, 3, 3);
    --border_radius_red: rgba(17, 16, 16, 0.164);
  }

  header > img {
    display: flex;
    width: 30%;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
  }

  .buy_logo {
    display: flex;
    position: absolute;
    width: 5vh;
    left: 92%;
    transform: translate(-7%);
    top: 5px;
    cursor: pointer;
  }

  div > .search_logo {
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
  }

  .search_in_site {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  input {
    display: flex;
    height: 3vh;
    text-align: center;
  }

  .filtros_busqueda {
    display: flex;
    border: 3px solid var(--border_radius_red);
    margin-top: 1vh;
  }

  .filtros_busqueda > select {
    width: 50%;
  }

  .filtros_busqueda > input {
    width: 15%;
    margin-left: 2%;
  }

  .search_button {
    display: block;
    position: absolute;
    width: 10%;
    height: 3%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 66%;
  }

  .reset_button {
    display: block;
    position: absolute;
    width: 15%;
    height: 3%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 80%;
  }

  .tshirt_search_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max-content;
    grid-gap: 3px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }

  .tshirt_search_list > .tshirt_photos {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.4s ease;
    border: 1.5px solid black;
  }

  .tshirt_search_list > .tshirt_photos_price {
    overflow: hidden;
    transition: transform 0.4s ease;
    border: 1.5px solid black;
  }

  div > img {
    width: 100%;
    height: 100%;
  }

  .tshirt_photos:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 715px) {
  * {
    background-color: var(--corporative-background-color);
    color: var(--title-and-buttontext-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
  }

  :root {
    --corporative-background-color: rgb(255, 255, 255);
    --title-and-buttontext-color: rgb(3, 3, 3);
    --border_radius_red: rgba(17, 16, 16, 0.164);
  }

  header > img {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
  }

  .buy_logo {
    display: flex;
    position: absolute;
    width: 5vh;
    left: 92%;
    transform: translate(-7%);
    top: 5px;
    cursor: pointer;
  }

  .search_in_site {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  input {
    display: flex;
    height: 5vh;
    text-align: center;
  }

  div > .search_logo {
    display: flex;
    width: 60%;
    height: 90%;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
  }

  .filtros_busqueda {
    display: flex;
    border: 3px solid var(--border_radius_red);
    margin-top: 1vh;
  }

  .filtros_busqueda > select {
    width: 50%;
  }

  .filtros_busqueda > input {
    width: 15%;
    margin-left: 2%;
  }

  .search_button {
    display: block;
    position: absolute;
    width: 10%;
    height: 4%;
    justify-content: center;
    align-items: center;
    margin: 0.6% 0 0 66%;
  }

  .reset_button {
    display: block;
    position: absolute;
    width: 15%;
    height: 4%;
    justify-content: center;
    align-items: center;
    margin: 0.6% 0 0 80%;
  }

  .tshirt_search_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max-content;
    grid-gap: 3px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }

  .tshirt_search_list > .tshirt_photos {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.4s ease;
    border: 1.5px solid black;
  }

  .tshirt_search_list > .tshirt_photos_price {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.4s ease;
    border: 1.5px solid black;
  }

  div > img {
    width: 100%;
    height: 100%;
  }

  .tshirt_photos:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
